<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>flutter_sdk</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCalendarsUsageDescription</key>
	<string>Allow application to access your calendar to better support you</string>
	<key>NSCameraUsageDescription</key>
	<string>Allow application to access your library for your request update avatar in profile.</string>
	<key>NSContactsUsageDescription</key>
	<string>Allow application to access your contacts list to allow you to connect with your friends.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Allow application to access your location to accurately show your distance.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Allow application to access your location to accurately show your distance.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allow application to access your location to accurately show your distance.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allow application to access your recorder for making calls and sending voice messages.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Allow application add image download from application to library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow application to access your gallery to update the required avatar in the profile.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>INStartAudioCallIntent</string>
		<string>INStartVideoCallIntent</string>
	</array>
	<key>NSUserTrackingUsageDescription</key>
	<string>The data are used to enhance users' experience, improve features or fix bugs on app</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
